/BancoSoap/nbproject/private/
/BancoSoap/BancoSoap-war/nbproject/private/
/BancoSoap/BancoSoap-ejb/nbproject/private/
/BancoSoap/BancoSoap-ejb/build/
/BancoSoap/BancoSoap-ejb/dist/
/BancoSoap/BancoSoap-war/dist/
/BancoSoap/BancoSoap-war/build/
/BancoSoap/build/
/BancoSoap/dist/
/BancoCoquimbo/nbproject/private/
/BancoCoquimbo/BancoCoquimbo-war/nbproject/private/
/BancoCoquimbo/BancoCoquimbo-ejb/nbproject/private/
/BancoCoquimbo/BancoCoquimbo-war/build/
/BancoCoquimbo/BancoCoquimbo-ejb/build/
/BancoCoquimbo/BancoCoquimbo-ejb/dist/
/BancoCoquimbo/build/
/BancoCoquimbo/dist/
/BancoCoquimbo/BancoCoquimbo-war/dist/
/.metadata/
